@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/a11y';
@import 'swiper/css/autoplay';

@plugin 'flowbite-react/plugin/tailwindcss';
@source '../../.flowbite-react/class-list.json';

* {
    @apply scroll-smooth font-sans;
}

:root {
    --standard-blue: #103c74;
    --standard-red: oklch(39.6% 0.141 25.723);
    --swiper-theme-color: #83050e !important;
    --shrink-limit: 750px;
}

a.inline {
    @apply text-blue-500 hover:underline;
}

.secondary {
    @apply text-gray-700;
}

.tr {
    @apply bg-white;
}

.th {
    @apply whitespace-nowrap font-medium text-gray-900;
}

b {
    @apply font-bold;
}

i {
    @apply italic;
}

.container {
    max-width: 77rem;
    @apply mx-auto;
}

.fancy-link {
    display: inline;
    background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, black, black);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 300ms;
}

.fancy-link:hover, .fancy-link:focus, .group:hover .fancy-link {
    background-size: 0 0.1em, 100% 0.1em;
}

.group-hover-scale {
    @apply transform transition-transform duration-300 ease-in-out group-hover:scale-105;
}

article a {
    @apply text-blue-600 hover:underline;
}

article ul {
    @apply list-inside list-disc;
}

article ol {
    @apply list-inside list-decimal;
}

article p {
    @apply mb-3;
}

article h2 {
    @apply font-bold;
}

article h3 {
    @apply font-bold;
}

article img {
    @apply rounded-lg text-center max-w-96 mx-auto mb-3;
}

.alumni-big-pic-box {
    box-shadow: -2rem 2rem oklch(39.6% 0.141 25.723);
}
